@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 1148px;
	height: 80px;
	left: 50%;
	top:2px;
	transform: translateX(-50%);
	color:#fff;
	.matchbar_right,.matchbar_left{
		display: flex;
		height: 60px;
		position: relative;
		top:20px;
		.CT {
			background: linear-gradient(90deg, rgba(153,122,190,0.8) 0%, rgba(147,72,173,1) 100%);
			border-radius: 10px;
		}
		.T {
			background: linear-gradient(90deg, rgba(206,206,30,0.8) 0%, rgba(254,85,16,0.8) 100%);
			border-radius: 10px;
		}
		.score{
			background: none;
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			left: -15px;
		}
	}
	.matchbar_left{
		display: flex;
		flex-direction: row-reverse;
		.score{
			background: none;
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			right: -15px;
			left:auto;
		}
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-left: 8px;
		margin-right: 8px;
		background-color: #fff;
		border: 1px solid #d7d7d7;
		border-radius: 10px;
		padding: 10px 40px;
		overflow: hidden;
        &.no-bo {
            height: auto;
        }
		&.bomb-planted{
			background: #5F5E5A;
			opacity: 0.5;
			border: 1px solid #5F5E5A;
		}
	}
	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		.bomb_timer {
			position: relative;
			width: 100%;
			top: -10px;
			left:-40px;
			border-radius: 10px;
            background-color: var(--color-bomb);
            &.hide {
                display: none;
            }
		}
		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;
			top: -10px;
			left:-40px;
			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				max-height: 60%;
				max-width: 80%;
            }
            &.hide {
                display: none;
            }
		}
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		justify-content: center;
		font-size: 40px;
		z-index: 1;
		color: #000;
        align-items: flex-end;
		font-family: "Gill Sans", sans-serif;
		font-weight: 500 !important;
        &.hide {
            display: none;
        }
		&.bomb-planted-timer{
			position: absolute;
			font-size: 30px;
			color: #fff;
			top:75%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		z-index: 1;
        color: #000;
		font-family: "Gill Sans", sans-serif;
		font-weight: 300 !important;
        &.hide {
            display: none;
        }
	}
	.team {
		display: flex;
		align-items: center;
		.logo {
			display: none;
			/*display: flex;
			flex-direction: row;
			width: 105px;
			height: 70px;
			align-items: center;
			overflow: hidden;
			img {
				max-width: 90%;
				max-height: 65%;
			}*/
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;
            .round-thingy {
                left: -30px;
            }
            .logo {
                justify-content: flex-end;
            }

        }
        &.right {
            justify-content: center;
            flex-direction: row;
            .round-thingy {
                right: -30px;
            }
            .logo {
                justify-content: flex-start;
            }

        }
	}
	.team-name {
		display: flex;
		width: 300px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 30px;
	}
	.round-thingy {
		width: 60px;
		height: 60px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		.inner {
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 77px;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		font-family: "Gill Sans", sans-serif;
		font-weight: 500 !important;
	}
	.bar {
		display: flex;
		flex-direction: row;
		width: 10px;
        &.CT {
            background-color: var(--color-new-ct);
        }
        &.T {
            background-color: var(--color-new-t);
        }
	}

}
.win_text {
	position: fixed;
	display: none;
	opacity: 1;
	width: 360px;
	padding: 15px 0;
	margin: 5px 0 0 0;
	text-align: center;
	color: #fff;
	top: 80px;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 20px;
	font-family: Montserrat;
    font-weight: 600;
	line-height: 20px !important;
    &.show {
        display: flex;
        animation: ShowWinCycle 5s linear 1;
        animation-fill-mode: forwards;
    }
    &.right {
		.defuse_plant_caption{
			.CT{
				position: absolute;
				left: calc(50% + 50px);
			}
			.T{
				position: absolute;
				left: calc(50% + 90px);
			}
		}
    }
    &.left {
		.defuse_plant_caption {
			.CT{
				top: 85px;
				position: absolute;
				right: calc(50% + 50px);
			}
			.T{
				top: 85px;
				position: absolute;
				right: calc(50% + 90px);
			}
		}
    }
}

.defuse_plant_container {
	position: fixed;
	display: flex;
	opacity: 1;
	width: auto;
	height: 49px;
	top: 85px;
	align-items: center;
	color: white;
    justify-content: center;
	border-radius: 10px;
	.defuse_plant_bar {
		height: 53px;
		background-color: #3c3c3c;
		position: absolute;
		width: 0%;
		border-radius: 10px;
		opacity: 0.2;
	}
	.defuse_plant_caption {
		z-index: 1;
		display: flex;
		text-transform: uppercase;
		flex-direction: row;
		svg {
			margin-right: 13px;
			fill: #fff;
		}
		.CT,.T{
			display: flex;
			justify-content: center;
			p{
				margin:0;
			}
		}
    }
	&.right {
		left: calc(50% + 50px);
		.defuse_plant_caption{
			.CT{
				position: relative;
				left: 0;
				.defuse_plant_bar{
					top:0;
					left:0;
				}
			}
			.T{
				position: relative;
				left:40px;
				.defuse_plant_bar{
					top:0;
					left:0;
				}
			}
		}
	}
	&.left {
		right: calc(50% + 90px);
		.defuse_plant_caption {
			.CT{
				position: relative;
				right: -40px;
				.defuse_plant_bar{
					top:0;
					right: 0;
				}
			}
			.T{
				position: relative;
				right: 0;
				.defuse_plant_bar{
					top:0;
					right: 0;

				}
			}
		}
	}
    &.hide {
        opacity: 0;
    }
}
.left{
	.defuse_plant_caption{
		.defusing-block,.planting-block{
			padding: 15px 22px 15px 20px;
			border-radius: 10px 0 0 10px !important;
		}
	}
}
.right{
	.defuse_plant_caption{
		.defusing-block,.planting-block{
			padding: 15px 20px 15px 22px;
			border-radius: 0 10px 10px 0 !important;
		}
	}
}
.defusing-block,.planting-block{
	display: flex;
	justify-content: center;
	width: auto;
	border-radius: 10px;
	font-size: 20px;
	p{
		width: 100%;
	}
}
.defusing-block{
	background: linear-gradient(90deg, rgba(153,122,190,0.8) 0%, rgba(147,72,173,1) 100%) !important;
}
.planting-block{
	background: linear-gradient(90deg, rgba(206,206,30,0.8) 0%, rgba(254,85,16,0.8) 100%) !important;
}
#encapsulator {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	top: 80px;
	width: 1148px;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	/*.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}*/
	.wins_bar {
		display: flex;
		flex-direction: row;
		width: 10px;
		height: 30px;
	}
	/*.wins_bar.CT {
		background-color: var(--color-new-ct);
	}
	.wins_bar.T {
		background-color: var(--color-new-t);
	}*/
}
.alert_bar.CT {
	background-color: var(--color-new-ct);
}
.alert_bar.T {
	background-color: var(--color-new-t);
}
#series_container {
	display: none;//display:flex
	flex-direction: row;
	width: 126px;
	height: 30px;

}
#series_text {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	color: var(--white-full);
}
.container {
	display: flex;
	flex-direction: row;
	width: 511px;
	height: 100%;
}
.container.left {
	justify-content: flex-end;
}
.container.right {
	justify-content: flex-start;
}
.series_wins {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 30px;
	z-index: 1;
	padding-left: 6px;
	padding-right: 6px;
	top: -30px;
	transition: top 0.5s;
}
.series_wins.show {
	top: 0px;
}
.wins_box_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	justify-content: flex-start;
}
.series_wins.left {
	.wins_box_container {
		flex-direction: row-reverse;
	}
}
.wins_box {
	width: 77px;
	height: 7px;
	margin-left: 2px;
	margin-right: 2px;
	box-sizing: border-box;
}
/*.wins_box.CT {
	background-color: rgba(0,0,0,0.6);
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(0,0,0,0.6);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}*/
